# This is Git's per-user configuration file.
[user]
	name = Carlos Mesquita
	email = 52337966+carlos3g@users.noreply.github.com

[core]
	editor = nano
	excludesfile = ~/.gitignore_global

[alias]
	ci = commit
	cm = checkout master
	cb = checkout -b

[init]
  defaultBranch = main
