"$schema" = 'https://starship.rs/config-schema.json'

[character]
error_symbol = "[❯](bold #ff5555)"
success_symbol = "[❯](bold #50fa7b)"

[cmd_duration]
style = "bold #f1fa8c"

[git_branch]
style = "bold #ff79c6"

[git_status]
style = "bold #ff5555"

[hostname]
style = "bold #bd93f9"

[username]
format = "[$user]($style) on "
style_user = "bold #8be9fd"
show_always = true

[aws]
style = "bold #ffb86c"

[directory]
style = "bold #50fa7b"
